debian/stsbl-iserv-webfilter-rewrite-domains/*
debian/stsbl-iserv-webfilter-rewrite-domains.debhelper.log
debian/stsbl-iserv-webfilter-rewrite-domains.substvars
debian/debhelper-build-stamp
debian/files
/Makefile.iservmake
/locale
/system-locale
!/locale/templates/*_misc.pot
