Source: stsbl-iserv-webfilter-rewrite-domains
Section: misc
Priority: extra
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 10), iserv3-dev
Standards-Version: 3.9.5

Package: stsbl-iserv-webfilter-rewrite-domains
Architecture: all
Depends: iserv-portal, iserv-webfilter, iserv-webfilter-safesearch
Description: IServ Webfilter: Domains umschreiben
 Dieses Modul erlaubt es, bestimmte Domains im vom lokalen Netzwerk verwendeten DNS-Server umzuschreiben.
Tag: suite::iserv:portal, role::plugin, implemented-in::perl
