Source: stsbl-iserv-webfilter-rewrite-domains
Section: misc
Priority: extra
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 10),
Build-Depends-Indep: iserv-buildtools
Standards-Version: 4.1.3

Package: stsbl-iserv-webfilter-rewrite-domains
Architecture: all
Depends: ${misc:Depends},
  ${perl:Depends},
  iserv-portal,
  iserv-webfilter,
  iserv-webfilter-safesearch,
Xb-Private-IServ-Revision: ${iserv:Revision}
Description: IServ Webfilter: Domains umschreiben
 Dieses Modul erlaubt es, bestimmte Domains im vom lokalen Netzwerk verwendeten DNS-Server umzuschreiben.
Tag: suite::iserv:portal, role::plugin, implemented-in::perl
