Source: stsbl-iserv-webfilter-rewrite-domains
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper-compat (= 13), dh-sequence-iserv, dh-sequence-stsbl
Standards-Version: 4.5.0

Package: stsbl-iserv-webfilter-rewrite-domains
Architecture: all
Depends: iserv-portal,
         iserv-webfilter,
         iserv-webfilter-safesearch,
         ${misc:Depends},
         ${perl:Depends}
Xb-Private-Iserv-Revision: ${iserv:Revision}
Description: IServ Webfilter: Domains umschreiben
 Dieses Modul erlaubt es, bestimmte Domains im vom lokalen Netzwerk verwendeten DNS-Server umzuschreiben.
Tag: suite::iserv:portal, role::plugin, implemented-in::perl
